
@{

    Layout = "~/Views/Shared/AdminLayout.cshtml";
    string baseUrl = Request.Url.Scheme + "://" + Request.Url.Authority +
                   Request.ApplicationPath.TrimEnd('/');
}
<script>
    $(document).ready(function () {
        var errorMessage = '@TempData["ConErrorMessages"]';
            if (errorMessage && errorMessage.trim() !== '') {
                alert(errorMessage)
    }
});

</script>

<style>
    .template-item {
        margin: 10px;
        cursor: pointer;
        text-align: center;
        border: 2px solid transparent;
        border-radius: 5px;
    }

        .template-item.selected {
            border: 2px solid #007bff;
            background-color: #f0f8ff;
        }

        .template-item img {
            max-width: 170px;
            max-height: 200px;
        }
</style>

<div class="content-wrapper">
    <div class="box box-info" style="padding: 16px 16px !important">
        <div class="box-header with-border">
            <h4>
                Import From Excel

                <a href="https://www.youtube.com/watch?v=yYChS8s7y9g&list=PLT-Gd9X3Y1afr1FZRb8Z8ELFncnWwOhzz&index=19"
                   target="_blank"
                   data-toggle="tooltip"
                   title="Click to view more info">
                    <i class="fa fa-info-circle" style="font-size:25px;"></i>
                </a>
            </h4>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-sm-12">
                    @if (TempData["ErrorMessages"] != null)
                    {
                        var errorMessages = TempData["ErrorMessages"] as List<string>;
                        if (errorMessages != null)
                        {
                            <div class="alert alert-danger">
                                <ul>
                                    @foreach (var error in errorMessages)
                                    {
                                        <li style="color:red;">@error</li>
                                    }
                                </ul>
                            </div>
                        }
                    }
                    @*@if (TempData["ErrorMessage"] != null)
                        {
                            <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
                        }*@

                    @{
                        var successMessage = TempData["Success"] as string;
                        var errorMessage = TempData["error"] as string;
                        var ConsErrorMessage = TempData["ConErrorMessages"] as string;
                    }

                    @if (!string.IsNullOrEmpty(successMessage))
                    {
                        @Html.Partial("~/Views/Shared/AlertPartial.cshtml", new Tuple<string, string>("success", successMessage))
                    }
                    @if (!string.IsNullOrEmpty(errorMessage))
                    {
                        @Html.Partial("~/Views/Shared/AlertPartial.cshtml", new Tuple<string, string>("danger", errorMessage))
                    }
                    @if (!string.IsNullOrEmpty(ConsErrorMessage))
                    {
                        <script>
                            alert(@ConsErrorMessage)

                        </script>
                        <div id="alertMessage" class="alert alert-danger" style="display: none;">
                            <strong>Error!</strong><strong style="color:red;">@ConsErrorMessage</strong>
                        </div>

                        @*@Html.Partial("~/Views/Shared/AlertPartial.cshtml", new Tuple<string, string>("danger", ConsErrorMessage))*@
                    }

                    @*@if (TempData["Success"] != null)
                        {
                            <div class="alert alert-success">
                                <strong>Success!</strong> @TempData["Success"]
                            </div>
                        }*@

                    @if (TempData["ConErrorMessages"] != null)
                    {
                        <div class="alert alert-danger">
                            <strong>Error!</strong>  @TempData["ConErrorMessages"]
                        </div>
                    }



                    <div class="form-horizontal">
                        <div class="box-body">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @using (Html.BeginForm("importFromExcel", "Booking", FormMethod.Post, new { enctype = "multipart/form-data", id = "form1" }))
                                        {
                                            <div class="col-md-6 no-padding">
                                                <label for="file"><strong id="up-txt">First Format </strong></label>
                                                <input type="file" name="httpPostedFileBase" id="file" class="form-control" />
                                                <div style="display:flex; gap:10px;justify-content:end;margin-top:10px">
                                                    <input type="submit" value="Upload" class="btn btn-primary" id="submitBtn" />
                                                    <a href="@baseUrl/excelformat/UploadforDocument.xlsx" class="btn btn-success"> Export Excel</a><!--CREAte Dynamic http://frbilling.com-->
                                                </div>

                                            </div>
                                            <div class="template-item col-md-4" data-value="1" style="display: block;">

                                                <a href="~/admin-lte/img/ExcelFormat1.png" target="_blank"><img src="~/admin-lte/img/ExcelFormat1.png" alt="Template 1" class="img-thumbnail" style="width: 170px; height: 200px;" /></a>
                                                <p class="text-center">First Format</p>
                                            </div>

                                        }
                                    </div>
                                </div>
                            </div>
                            <hr />
                        </div>
                    </div>



                    <div class="form-horizontal">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @using (Html.BeginForm("importFromExcelWhole", "Booking", FormMethod.Post, new { enctype = "multipart/form-data", id = "form2" }))
                                        {
                                            <div class="col-md-6 no-padding">
                                                <label for="file"><strong id="up-txt">Second Format  </strong></label>
                                                <input type="file" name="httpPostedFileBase" id="file2" class="form-control" />
                                                <div style="display:flex; gap:10px;justify-content:end;margin-top:10px">
                                                    <input type="submit" value="Upload" class="btn btn-primary" id="submitBtn2" />
                                                    <a href="@baseUrl/excelformat/UploadforNonDocument.xlsx" class="btn btn-success"> Export Excel</a>
                                                </div>
                                            </div>
                                            <div class="template-item col-md-4" data-value="1" style="display: block;">

                                                <a href="~/admin-lte/img/ExcelFormat2.png" target="_blank"><img src="~/admin-lte/img/ExcelFormat2.png" alt="Template 1" class="img-thumbnail" style="width: 170px; height: 200px;" /></a>
                                                <p class="text-center">Second Format</p>
                                            </div>

                                        }
                                    </div>
                                </div>
                            </div>
                            <hr />

                        </div>



                        <div class="form-horizontal">
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            @using (Html.BeginForm("AddNewimporFromExcel", "Booking", FormMethod.Post, new { enctype = "multipart/form-data", id = "form3" }))
                                            {
                                                <div class="col-md-6 no-padding">
                                                    <label for="file"><strong id="up-txt">Third Format  </strong></label>
                                                    <input type="file" name="httpPostedFileBase" id="file3" class="form-control" />
                                                    <div style="display:flex; gap:10px;justify-content:end;margin-top:10px">
                                                        <input type="submit" value="Upload" class="btn btn-primary" id="submitBtn3" />
                                                        <a href="@baseUrl/excelformat/UploadNew.xlsx" class="btn btn-success"> Export Excel</a><!--Create Dynamic url-->
                                                    </div>
                                                </div>
                                                <div class="template-item col-md-4" data-value="1" style="display: block;">

                                                    <a href="~/admin-lte/img/ExcelFormat3.png" target="_blank"><img src="~/admin-lte/img/ExcelFormat3.png" alt="Template 1" class="img-thumbnail" style="width: 170px; height: 200px;" /></a>
                                                    <p class="text-center">Third Format</p>
                                                </div>

                                            }
                                        </div>
                                    </div>
                                </div>
                                <hr />

                            </div>
                        </div>

                        @*<div class="form-horizontal">
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                @using (Html.BeginForm("ImportCSV", "Booking", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                                {
                                                    <div class="col-md-8 no-padding">
                                                        <label for="file"><strong id="up-txt"> Upload New </strong></label>
                                                        <input type="file" name="file" id="file" class="form-control" />
                                                        <div style="display:flex; gap:10px;justify-content:end;margin-top:10px">
                                                            <input type="submit" value="Upload" class="btn btn-primary" id="submitBtn" />
                                                              <a href="@Url.Action("ExportCSV", "Booking")" class="btn btn-success" target="_blank">Export CSV</a>
                                                        </div>
                                                    </div>


                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <hr />

                                </div>
                            </div>*@

                        <!--<div class="form-horizontal">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @@using (Html.BeginForm("AddCodTopayimporFromExcel", "Booking", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                        {
                                            <div class="col-md-8 no-padding">
                                                <label for="file"><strong id="up-txt"> Upload New </strong></label>
                                                <input type="file" name="file" id="file" class="form-control" />
                                                <div style="display:flex; gap:10px;justify-content:end;margin-top:10px">
                                                    <input type="submit" value="Upload" class="btn btn-primary" id="submitBtn" />
                                                    <a href="@@baseUrl/excelformat/ExportCCodTopayExcel.xlsx" class="btn btn-success"> Export Excel</a><!--Create Dynamic url-->
                        <!--@*<a href="@Url.Action("ExportCCodTopayExcel", "Booking")" class="btn btn-success" target="_blank">Export CSV</a>*@
                                                    </div>
                                                </div>


                                            }
                                        </div>
                                    </div>
                                </div>
                                <hr />

                            </div>
                        </div>-->
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    function showLoader() {

        document.getElementById('overlayBlock').style.display = 'block';

    }

    // Scroll to the top of the page
    function scrollToTop() {
        window.scrollTo(0, 0);
    }
    $(document).ready(function () {
        $('#submitBtn').on('click', function (e) {
            // Prevent default form submission (since we are handling submission manually)


            // Scroll to the top of the page
            scrollToTop();
            // Get the file input value
            var file = $("#file").val();
            // Check if file input is empty
            if (file == "" || file == NaN) {
                e.preventDefault();
                alert("Please select a file before Uploading.");
                return false; // Stop the form submission
            }

            // Show the loader after validation
            showLoader();

            // Get the form element and submit the form after validation
            $('#form1').submit();
        });


        $('#submitBtn2').on('click', function (e) {
            // Prevent default form submission (since we are handling submission manually)


            // Scroll to the top of the page
            scrollToTop();
            // Get the file input value
            var file = $("#file2").val();
            // Check if file input is empty
            if (file == "" || file == NaN) {
                e.preventDefault();
                alert("Please select a file before Uploading.");
                return false; // Stop the form submission
            }

            // Show the loader after validation
            showLoader('overlayBlock');

            // Get the form element and submit the form after validation
            $('#form2').submit();
        });

        $('#submitBtn3').on('click', function (e) {
            // Prevent default form submission (since we are handling submission manually)

            // Scroll to the top of the page
            scrollToTop();
            // Get the file input value
            var file = $("#file3").val();
            // Check if file input is empty
            if (file == "" || file == NaN) {
                e.preventDefault();

                alert("Please select a file before Uploading.");
                return false; // Stop the form submission
            }

            // Show the loader after validation
            showLoader('overlayBlock');

            // Get the form element and submit the form after validation
            $('#form3').submit();
        });

    });

</script>