
@{
    ViewBag.Title = "UploadPincodeFromExcel";
    Layout = "~/Views/Shared/AdminLayout.cshtml";

    Html.EnableClientValidation(true);
    string baseUrl = Request.Url.Scheme + "://" + Request.Url.Authority +
               Request.ApplicationPath.TrimEnd('/');
}


<style>
    #frmEmp {
        margin: 15px 0;
        text-align: left;
    }
</style>




       

            <div class="content-wrapper" style="padding: 0px 15px">
                <div class="box box-info" style="background: none;  border: 1px solid #dbdbdb !important;background:white">
                    <div class="box-header with-border" style="background:none;border:none">
                        <h4>Upload Pincode File</h4>

                    </div>
                    <div class="" style="padding:0 20px">
                        <div class="row">
                            <div class="col-md-12 ">
                                @{
                                    var successMessage = TempData["Success"] as string;
                                    var errorMessage = TempData["error"] as String;
                                }

                                @if (!string.IsNullOrEmpty(successMessage))
                                {
                                    @Html.Partial("~/Views/Shared/AlertPartial.cshtml", new Tuple<string, string>("success", successMessage))
                                }
                                @if (!string.IsNullOrEmpty(errorMessage))
                                {
                                    @Html.Partial("~/Views/Shared/AlertPartial.cshtml", new Tuple<string, string>("danger", successMessage))
                                }

                                @*@{
            var successMessage = TempData["Success1"] as string;
            var errorMessage = TempData["Error"] as string;
        }

        @if (!string.IsNullOrEmpty(successMessage))
        {
            @Html.Partial("~/Views/Shared/AlertPartial.cshtml", new Tuple<string, string>("success", successMessage))
        }
        @if (!string.IsNullOrEmpty(errorMessage))
        {
            @Html.Partial("~/Views/Shared/AlertPartial.cshtml", new Tuple<string, string>("danger", successMessage))
        }*@

                                <div class="form-horizontal">
                                    <div class="box-body">

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    @using (Html.BeginForm("UploadPincodeFromExcel", "Booking", FormMethod.Post, new { enctype = "multipart/form-data", id = "form1" }))
                                                    {
                                                        @Html.AntiForgeryToken()

                                                        <div class="col-md-8 no-padding">
                                                            <label for="file"><strong id="up-txt"> Upload for Pincode </strong></label>
                                                            <input type="file" name="file" id="file" class="form-control" />
                                                            <div style="display:flex; gap:10px;justify-content:end;margin-top:10px">
                                                                <input type="submit" value="Upload" class="btn btn-primary" id="submitBtn" />
                                                                <a href="@baseUrl/excelformat/UploadPincode.xlsx" class="btn btn-success"> Export Excel</a><!--CREAte Dynamic http://frbilling.com-->
                                                            </div>
                                                        </div>


                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <hr />
                                    </div>
                                </div>


                            </div>


                        </div>
                    </div>
                </div>
            </div>




<script src="jquery-3.6.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<script>

        @*$(document).ready(function () {
            var data = '@TempData["Success1"]';


            if (data != null && data!="")
            {

               alert(data);
            }


        });*@

</script>
@if (TempData["error"] != null)
            {
                <script>
                    alert('@TempData["error"]');
                </script>
            }

<script>
    $(document).ready(function () {
        $('#submitBtn').on('click', function (e) {
            // Prevent default form submission (since we are handling submission manually)

            // Scroll to the top of the page
            scrollToTop();
            // Get the file input value
            var file = $("#file").val();
            // Check if file input is empty
            if (file == "" || file == NaN) {
                e.preventDefault();

                alert("Please select a file before Uploading.");
                return false; // Stop the form submission
            }

            // Show the loader after validation
            showLoader('overlayBlock');

            // Get the form element and submit the form after validation
            $('#form').submit();
        });

    });
</script>