@model DtDc_Billing.Models.ChangePasswordModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<div class="content-wrapper">
    <div class="box" style="padding: 16px 15px">
       
                <div class="" style="padding: 0px 15px 0px 15px;height:auto">
                    <div class="box box-info">
                        <div class="box-header with-border invoice-intro-block">
                            <h4>
                                Change Password
                            </h4>
                        </div>

                  
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-horizontal">
                                            @{
                                                var error = TempData["error"] as string;
                                            }

                                            @if (!string.IsNullOrEmpty(error))
                                            {

                                                @Html.Partial("~/Views/Shared/AlertPartial.cshtml", new Tuple<string, string>("danger", error))
                                            }

                                            @using (Html.BeginForm())
                                            {
                                                @Html.AntiForgeryToken()

                                            <div class="form-horizontal">

                                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <div class="control-label col-md-2">
                                                            <label>Old Password</label>
                                                        </div>
                                                        <div class="col-md-3 ">
                                                            @Html.EditorFor(model => model.oldpass, new { htmlAttributes = new { @class = "form-control", @placeholder = "OldPassword" } })

                                                            @Html.ValidationMessageFor(model => model.oldpass, "", new { @class = "text-danger" })
                                                        </div>

                                                    </div>

                                                </div>

                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <div class="control-label col-md-2">
                                                            <label>New Password</label>
                                                        </div>
                                                        <div class="col-md-3 ">
                                                            @Html.EditorFor(model => model.newpass, new { htmlAttributes = new { @class = "form-control", @placeholder = "New Password" } })
                                                            @Html.ValidationMessageFor(model => model.newpass, "", new { @class = "text-danger" })
                                                        </div>

                                                    </div>

                                                </div>

                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <div class=" control-label col-md-2">
                                                            <label>Confirm Password</label>
                                                        </div>
                                                        <div class="col-md-3 ">
                                                            @Html.EditorFor(model => model.confirmpass, new { htmlAttributes = new { @class = "form-control", @placeholder = "Confirm Password" } })
                                                            @Html.ValidationMessageFor(model => model.confirmpass, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>

                                                </div>
                                                <!--<div class="col-sm-12">

                                                    <div class="col-md-7">
                                                        <p class="text-muted" style="margin-top: 5px;color:red">
                                                            Note: The token will be sent to the franchisee's email address. Please check your inbox.
                                                        </p>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <button class="btn btn-link"><a href="" onclick="return false" id="tokenlink" class="token"><span class="">Generate Token</span></a></button>-->
                                                        <!-- Note displayed below the Generate Token button -->

                                                    <!--</div>
                                                </div>
                                                <div class="col-sm-12">
                                                   
                                                    <div class="form-group">
                                                        <div class=" control-label col-md-2">
                                                            <label>Enter Token</label>
                                                        </div>
                                                        <div class="col-md-3 ">
                                                            <input type="text" name="Token" class="form-control">
                                                            @@Html.ValidationMessageFor(model => model.Token, "", new { @@class = "text-danger" })
                                                            <span class="text-danger">@@TempData["error"]</span>
                                                        </div>
                                                    </div>


                                                </div>-->
                                                <div class="col-sm-12">
                                                    <div class="form-group pull-right">
                                                        <div class="col-md-offset-2 col-md-10">
                                                            <input type="submit" value="Save" class="btn btn-primary" />
                                                        </div>
                                                    </div>
                                                </div>
                                               
                                            </div>
                                            }


                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       

    @if (ViewBag.sendmail != null)
    {
        <script>
        alert('@ViewBag.sendmail');
        </script>
    }
    @*@if (TempData["error"] != null)
    {
        <script>
        alert('@TempData["error"]');
        </script>
    }*@

    <script type="text/javascript">
        $(document).ready(function () {
            $("a.token").click(function () {
                $.ajax({
                    // edit to add steve's suggestion.
                    //url: "/ControllerName/ActionName",
                    url: '@Url.Action("NewpasswordSave", "Admin")',
                    success: function (data) {
                        // your data could be a View or Json or what ever you returned in your action method
                        // parse your data here
                        alert("The token ID has been sent to your registered email address; please check your inbox for it.");
                    }
                });
            });
        });
    </script>
