@model DtDc_Billing.Models.FranchiseeModel

<style>
    #frmEmp {
        margin: 15px 0;
        text-align: left;
    }
</style>
@using (Ajax.BeginForm("Edit", "Admin", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "frmEmp" }, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="StampFilePath" value="@Model.StampFilePath">
    <form enctype="multipart/form-data">

        <div class="" style="padding: 0px 15px">
            <div class="box box-info" style="border:1px solid #dbdbdb !important;background:white ">
                <div class="box-header with-border" style="background:none; border:none">
                    <h4>Edit Franchisee</h4>
                </div>
                <div class="" style="padding:20px">
                    <div class="row">
                        <div class="col-md-12 ">

                            <!-- /.box-header -->
                            @{
                                var successMessage = TempData["Success"] as string;
                            }

                            @if (!string.IsNullOrEmpty(successMessage))
                            {
                                @Html.Partial("~/Views/Shared/AlertPartial.cshtml", new Tuple<string, string>("success", successMessage))
                            }
    

                            <div class="form-horizontal">


                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                @Html.HiddenFor(model => model.F_Id)


                                @Html.HiddenFor(model => model.PF_Code)
                                @Html.HiddenFor(model => model.password)
                                @Html.HiddenFor(model => model.Datetime_Fr)


                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-12 col-sm-12 col-md-7 ">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label class="">PF Code</label>
                                                </div>
                                                <div class="col-md-9">
                                                    @Html.TextBoxFor(model => model.PF_Code, new { @class = "form-control input-sm", @readonly = "readonly" })
                                                    @Html.ValidationMessageFor(model => model.PF_Code, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-12 col-sm-12 col-md-7">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label class=""> Franchisee Name </label>
                                                </div>
                                                <div class="col-md-9">
                                                    @Html.EditorFor(model => model.Franchisee_Name, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                    @Html.ValidationMessageFor(model => model.Franchisee_Name, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <div class="col-12 col-sm-12 col-md-7">

                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label class="">Email ID</label>
                                                </div>
                                                <div class="col-md-9   ">
                                                    @Html.TextBoxFor(model => model.Sendermail, new { @class = "form-control input-sm", @readonly = "readonly" })
                                                    @Html.ValidationMessageFor(model => model.Sendermail, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <div class="col-12 col-sm-12 col-md-7">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label class=""> Franchisee Address</label>
                                                </div>
                                                <div class="col-md-9 ">
                                                    @Html.TextAreaFor(model => model.F_Address, new { @class = "form-control input-sm", @rows = 1 })
                                                    @Html.ValidationMessageFor(model => model.F_Address, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-12 col-sm-12 col-md-7">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label class=""> Owner Name </label>
                                                </div>
                                                <div class="col-md-9">
                                                    @Html.EditorFor(model => model.OwnerName, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                    @Html.ValidationMessageFor(model => model.OwnerName, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-12 col-sm-12 col-md-7">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label class=""> Invoice Start Prefix</label>
                                                </div>
                                                <div class="col-md-9">
                                                    @Html.EditorFor(model => model.InvoiceStart, new { htmlAttributes = new { @class = "form-control input-sm", @maxlength = "5" } })
                                                    @Html.ValidationMessageFor(model => model.InvoiceStart, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <div class="col-12 col-sm-12 col-md-7">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label class=""> GST No </label>
                                                </div>
                                                <div class="col-md-9">
                                                    @Html.EditorFor(model => model.GstNo, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                    @Html.ValidationMessageFor(model => model.GstNo, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-12 col-sm-12 col-md-7">
                                            <div class="row">
                                                <div class="col-md-3">

                                                    @Html.LabelFor(model => model.Pan_No, htmlAttributes: new { })
                                                </div>
                                                <div class="col-md-9">
                                                    @Html.EditorFor(model => model.Pan_No, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                    @Html.ValidationMessageFor(model => model.Pan_No, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-12 col-sm-12 col-md-7">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label class=""> Contact No</label>
                                                </div>
                                                <div class="col-md-9">
                                                    @Html.TextBoxFor(model => model.ContactNo, new { @class = "form-control input-sm", @readonly = "readonly" })
                                                    @Html.ValidationMessageFor(model => model.ContactNo, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-12 col-sm-12 col-md-7">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label class=""> Account Name </label>
                                                </div>
                                                <div class="col-md-9">
                                                    @Html.EditorFor(model => model.AccountName, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                    @Html.ValidationMessageFor(model => model.AccountName, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-12 col-sm-12 col-md-7">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label class=""> Bank Name  </label>
                                                </div>
                                                <div class="col-md-9">
                                                    @Html.EditorFor(model => model.Bankname, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                    @Html.ValidationMessageFor(model => model.Bankname, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-12 col-sm-12 col-md-7">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label class=""> Account No </label>
                                                </div>
                                                <div class="col-md-9">
                                                    @Html.EditorFor(model => model.Accountno, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                    @Html.ValidationMessageFor(model => model.Accountno, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-12 col-sm-12 col-md-7">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label class=""> IFSC Code </label>
                                                </div>
                                                <div class="col-md-9">
                                                    @Html.EditorFor(model => model.IFSCcode, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                    @Html.ValidationMessageFor(model => model.IFSCcode, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-12 col-sm-12 col-md-7">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label class=""> Branch </label>
                                                </div>
                                                <div class="col-md-9">
                                                    @Html.EditorFor(model => model.Branch, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                    @Html.ValidationMessageFor(model => model.Branch, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-12 col-sm-12 col-md-7">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label class=""> Account Type </label>
                                                </div>
                                                <div class="col-md-9">
                                                    @Html.EditorFor(model => model.Accounttype, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                    @Html.ValidationMessageFor(model => model.Accounttype, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-7" style="text-align: right;">

                                            <div class="">
                                                <input type="submit" value="Save" class="btn btn-primary" id="scrolltotop" />
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </div>

    </form>

}

<script>
    // Scroll to the top of the page
    function scrollToTop() {
        window.scrollTo(0, 0);
    }
   
        $(document).on('click', '#scrolltotop', function () {
       
          
            scrollToTop();
        });
   

        @*$(document).ready(function () {

            var data = '@TempData["Success"]';

            if (data != null && data!="")
            {
                alert(data);
            }


        });*@

</script>

<script>
            //$(function () {
            //    $('#uploadBtn').click(function () {

            //        var formData = new FormData();
            //        formData.append('file', $('#file')[0].files[0]);

            //        $.ajax({
            //            url: '/Admin/UploadFile',
            //            data: formData,
            //            processData: false,
            //            contentType: false,
            //            type: 'POST',
            //            success: function (data) {
            //                alert('File uploaded successfully!');
            //                // Save file path in database
            //            },
            //            error: function () {
            //                alert('Error uploading file!');
            //            }
            //        });
            //    });
            //});
</script>
