<!DOCTYPE html>
<html lang="en">
@{
    Layout = null;
    string robotsTxtPath = Server.MapPath("~/excelformat/robots.txt");
    string robotsTxtContent = System.IO.File.ReadAllText(robotsTxtPath);
}


<head>
    <script src="https://static.elfsight.com/platform/platform.js" async></script>


    @{
        string context = null;
        string type = null;
        string organizationName = "Fr-Billing";
        string organizationUrl = "http://codetentaclestechnologies.com/";
        string logoUrl = "https://frbilling.com/";
        string phoneNumber = "+91 8208668841";
        string facebookUrl = "https://www.facebook.com/profile.php?id=61555152457829";
        string instagramUrl = "https://www.linkedin.com/in/franchisee-billing-04b7802b8/";
        //   string linkedinUrl = "https://www.linkedin.com/in/franchisee-billing-04b7802b8/";
        string linkedinUrl = "https://www.linkedin.com/company/fr-billing";
    }
    <script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "@Html.Raw(organizationName)",
  "url": "@Html.Raw(organizationUrl)",
  "logo": "@Html.Raw(logoUrl)",
  "contactPoint": {
    "@type": "ContactPoint",
    "telephone": "@Html.Raw(phoneNumber)",
    "contactType": "customer service"
  },
  "sameAs": [
    "@Html.Raw(facebookUrl)",
    "@Html.Raw(instagramUrl)",
    "@Html.Raw(linkedinUrl)"
  ]
}
    </script>

    <meta charset="UTF-8">

    @*<meta name="robots" content="index,follow" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta property="og:title" content="Your Blog Post Title" />
        <meta property="og:description" content="Your blog post description" />
        <meta property="og:image" content="URL to your blog post image" />
        <meta property="og:url" content="URL to your blog post" />*@
    <meta name="robots" content="index,follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="FR-Billing: The Most Trusted Software for Courier Billing and Invoicing!" />
    <meta property="og:description" content="Welcome to Fr-Billing - Your Ultimate Billing Solution. Streamline your billing process, enhance user experience, and boost productivity with our cutting-edge platform." />
    <meta property="og:image" content="https://frbilling.com/assets/Home/assets/images/logo.png" />
    <meta property="og:url" content="https://frbilling.com/" />
    <meta name="description" content="Welcome to Fr-Billing - Your Ultimate Billing Solution. Streamline your billing process, enhance user experience, and boost productivity with our cutting-edge platform." data-target="Unlock unparalleled efficiency with Fr-Billing - Your Ultimate Billing Solution. Discover how our cutting-edge platform revolutionizes billing processes, elevates user experience, and turbocharges productivity. Streamline operations effortlessly and stay ahead in today's dynamic business landscape. Click now to explore the future of billing">

    <meta name="author" content="CodeTentacles Technologies">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://www.fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    @*<title>FR-Billing | Index</title>*@
    <title>FR-Billing: The Most Trusted Software for Courier Billing and Invoicing!</title>

    <link rel="shortcut icon" href="~/assets/images/fav.png">
    <!-- Bootstrap core CSS -->
    <link href="~/assets/Home/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="canonical" href="https://www.codetentaclestechnologies.com" />


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="~/assets/Home/assets/css/fontawesome.css">
    <link rel="stylesheet" href="~/assets/Home/assets/css/templatemo-onix-digital.css">
    <link rel="stylesheet" href="~/assets/Home/assets/css/animated.css">
    <link rel="stylesheet" href="~/assets/Home/assets/css/owl.css">
    <!--

    TemplateMo 565 Onix Digital

    https://templatemo.com/tm-565-onix-digital

    -->
    <style>
        i.fa.fa-solid.fa-check {
            color: #05844f;
            margin: 0 6px;
            display: grid;
            align-items: center;
        }

        .contacticon {
            margin-right: 5px;
            width: 46px;
            height: 46px;
            display: inline-block;
            text-align: center;
            line-height: 46px;
            border-radius: 50%;
            background: rgb(255,104,95);
            background: linear-gradient(105deg, rgba(255,104,95,1) 0%, rgba(255,144,104,1) 100%);
            color: #fff;
            font-size: 20px;
        }

        .contactus {
            color: #ff7461;
            font-size: 15px;
            font-weight: 500;
            margin-left: 30px;
        }

        .indian_wheel {
            width: 20px;
        }

        .new-blue-button-hover {
            position: relative;
            display: inline-block;
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            border-radius: 4px;
            overflow: hidden;
            transition: color 0.3s ease, font-size 0.3s ease;
            animation: shake 0.3s ease infinite;
        }

            .new-blue-button-hover a {
                color: inherit;
            }

            .new-blue-button-hover::after {
                content: '';
                position: absolute;
                background: rgba(255, 255, 255, 0.3);
                border-radius: 50%;
                width: 100px;
                height: 100px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: width 0.3s ease, height 0.3s ease;
                pointer-events: none;
            }

            .new-blue-button-hover:hover::after {
                width: 200px;
                height: 200px;
            }

            .new-blue-button-hover:hover {
                animation-play-state: paused; /* Pause the shake animation on hover */
            }

        .main-banner .item h1 {
            font-size: 50px;
            font-weight: 700;
            color: #2a2a2a;
            line-height: 72px;
        }

            .main-banner .item h1 em {
                color: #03a4ed;
                font-style: normal;
            }

        @@keyframes shake {
            0% {
                transform: translateX(0);
            }

            25% {
                transform: translateX(-5px);
            }

            50% {
                transform: translateX(5px);
            }

            75% {
                transform: translateX(-3px);
            }

            100% {
                transform: translateX(0);
            }
        }


        .diwalilogo img {
            width: 18%;
            overflow: hidden;
           
        }

        .diwalilogofooter img {
            width: 56%;
            overflow: hidden;
        }
    </style>


</head>

<body>
    <div class="elfsight-app-38ff4384-1e40-4eca-b963-69e2e25bccfc" data-elfsight-app-lazy></div>
    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
        <div class="preloader-inner">
            <img src="~/assets/Home/assets/images/loader.gif" alt="Loading animation">
        </div>
    </div>
    <!-- ***** Preloader End ***** -->
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        @*<a href="#" class="logo" target="_self">
                            <img src="~/assets/Home/assets/images/logo.png" alt="Fr-Billing logo">

                        </a>*@

                        <!-- ***** DIWALI Logo ***** -->
                        <img src="/assets/Home/assets/images/xmas.gif" alt="Fr-Billing logo" style="
    height: 165px;
    width: 165px;
">
                        <!-- *****DIWALI  Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="#features">Features</a></li>
                            <li class="scroll-to-section"><a href="#Demos">Request Demo</a></li>
                            <li class="scroll-to-section"><a href="#portfolio">Pricing</a></li>
                            <li class="scroll-to-section"><a href="#video">About</a></li>
                            <li class="scroll-to-section"><a href="#contact">Contact Us</a></li>
                            <!-- <li class="scroll-to-section"><a href="#contact">Contact Us</a></li>  -->

                            <li class="scroll-to-section"><div class="main-red-button-hover"><a href="@Url.Action("AdminLogin","Admin")">Customer Login</a></div></li>
                        </ul>
                        <a class='menu-trigger' href="">
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <div class="main-banner" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-6 align-self-center">
                            <div class="owl-carousel owl-banner">
                                <div class="item header-text">
                                    <h6>Welcome to FR-Billing</h6>
                                    <h1>Cloud-Based  <br> <em>Courier </em><span>Billing Software</span></h1>
                                    <p>Experience ease with our automated, Excel-supported solution - the perfect choice for courier franchisees.</p>
                                    <div class="down-buttons">
                                        <div class="main-blue-button-hover">
                                            <a href="@Url.Action("Register","Admin")">Register Now</a>
                                        </div>
                                        <div class="call-button">
                                            <a href="tel:8208668841"><i class="fa fa-phone"></i> +91 8208668841</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @Html.Action("LiveData", "Admin")


    <div id="features" class="our-services section">
        <div class="services-right-dec">
            <img src="~/assets/Home/assets/images/services-right-dec.png" alt="Decorative element on the right side of services section">
        </div>
        <div class="container">
            <div class="services-left-dec">
                <img src="~/assets/Home/assets/images/services-left-dec.png" alt="Decorative element on the left side of services section">
            </div>
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading">


                        <h2>Unlock <em>Success</em> with Our <span>Powerful Features</span></h2>
                        @*<span>Our Features</span>*@
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="owl-carousel owl-services">
                        <div class="item">
                            <h4>Simple to Use</h4>
                            <div class="icon"><img src="~/assets/Home/imgs/easy-to-use.png" alt="Easy-to-use interface illustration"></div>
                            <p>No tech skills? No problem! Our software is designed to be intuitive and user-friendly, making it accessible to everyone.</p>
                        </div>
                        <div class="item">
                            <h4>Flexible RateMaster</h4>
                            <div class="icon"><img src="~/assets/Home/imgs/flexible.png" alt="Flexible Payment Options Illustration"></div>
                            <p>Easily set and adjust rates to align perfectly with your courier services, ensuring competitive and fair pricing.</p>
                        </div>
                        <div class="item">
                            <h4>Handle Lots of Bookings</h4>
                            <div class="icon"><img src="~/assets/Home/imgs/bookings.png" alt="Booking Calendar Illustration"></div>
                            <p>Efficiently manage multiple orders simultaneously, streamlining your booking process and saving time.</p>
                        </div>
                        <div class="item">
                            <h4>Professional Bills</h4>
                            <div class="icon"><img src="~/assets/Home/imgs/biils.png" alt="Bill Payment Illustration"></div>
                            <p>Generate neat, tidy, and professional-looking bills that reflect the quality of your service.</p>
                        </div>
                        <div class="item">
                            <h4>Your Logo Here</h4>
                            <div class="icon"><img src="~/assets/Home/imgs/logo1.png" alt="Fr-Billing Logo"></div>
                            <p>Customize your bills by adding your own logo, enhancing brand recognition and trust.</p>
                        </div>
                        <div class="item">
                            <h4>Help Walk-In Customers</h4>
                            <div class="icon"><img src="~/assets/Home/imgs/customers.png" alt="Satisfied Customers Illustration"></div>
                            <p>Serve walk-in customers promptly and efficiently, ensuring a positive experience.</p>
                        </div>
                        <div class="item">
                            <h4>Print Bills & Price Quotes</h4>
                            <div class="icon"><img src="~/assets/Home/imgs/printbills.png" alt="Print Bills Icon"></div>
                            <p>Provide customers with printed bills and price estimates on the spot, enhancing transparency and communication.</p>
                        </div>
                        <div class="item">
                            <h4>Import Data from FRPlus</h4>
                            <div class="icon"><img src="~/assets/Home/imgs/importdata.png" alt="Import Data Icon"></div>
                            <p>Seamlessly integrate data for a smoother and more efficient workflow.</p>
                        </div>

                        <div class="item">
                            <h4>Weight Difference Report</h4>
                            <div class="icon"><img src="~/assets/Home/imgs/report.png" alt="Weight Difference Report Icon"></div>
                            <p>Ensure accurate billing by accommodating varied consignment weights in your reports.</p>

                        </div>
                        <div class="item">
                            <h4>Profit/Loss Report</h4>
                            <div class="icon"><img src="~/assets/Home/imgs/profit-loss.png" alt="Profile loss Icon"></div>
                            <p>Evaluate your franchise's performance against DTDC charges, helping you make informed business decisions.</p>

                        </div>
                        <div class="item">
                            <h4>Stationery Inventory Management</h4>
                            <div class="icon"><img src="~/assets/Home/imgs/inventorymanagement.png" alt="Inventry Management Icon"></div>
                            <p>
                                Organize and monitor your office supplies effectively, ensuring you're always well-stocked.
                            </p>

                        </div>
                        <div class="item">
                            <h4>Reminder for Stationery Expiration</h4>
                            <div class="icon"><img src="~/assets/Home/imgs/expiration.png" alt="Expiration Image"></div>
                            <p>
                                Receive timely reminders to replenish your stationery, keeping your business running smoothly.
                            </p>

                        </div>
                        <div class="item">
                            <h4>Multiple Invoice Generation</h4>
                            <div class="icon"><img src="~/assets/Home/imgs/invoice.png" alt="Invoice Image"></div>
                            <p>
                                Effortlessly manage high-volume billing periods, ensuring no invoice is overlooked.
                            </p>

                        </div>
                        <div class="item">
                            <h4>Send Mail on Invoice Generation</h4>
                            <div class="icon"><img src="~/assets/Home/imgs/sendmail.png" alt="Send Email Image"></div>
                            <p>
                                Automatically notify clients with invoice details, keeping them informed and engaged.
                            </p>

                        </div>
                        <div class="item">
                            <h4>No Booking Data</h4>
                            <div class="icon"><img src="~/assets/Home/imgs/no-booking-data.png" alt="No Booking Data List"></div>
                            <p>
                                Identify consignments not booked by the franchisee but booked by DTDC, ensuring accurate record-keeping.

                            </p>

                        </div>
                        <div class="item">
                            <h4>Creditors Report</h4>
                            <div class="icon"><img src="~/assets/Home/imgs/creditorsreport.png" alt="Creditors report Image"></div>
                            <p>
                                Maintain healthy finances by staying on top of payments and creditor relationships.

                            </p>

                        </div>
                        <div class="item">
                            <h4>Daily Report</h4>
                            <div class="icon"><img src="~/assets/Home/imgs/dailyreport.png" alt="Daily Report Image"></div>
                            <p>
                                Generate daily reports detailing all Payment-Ins and Payment-Outs for cash counter users.

                            </p>

                        </div>
                        <div class="item">
                            <h4>Additional Reports</h4>
                            <div class="icon"><img src="~/assets/Home/imgs/additionalreport.png" alt="Additional Report Image"></div>
                            <p>
                                Harness insightful reports to optimize and enhance your franchise operations.

                                /assets/Home/imgs/
                            </p>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
  

    <div id="about" class="about-us section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 align-self-center">
                    <div class="left-image">
                        <img src="~/assets/Home/assets/images/in" alt="Two Girls working together">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="section-heading">


                        <h2>Elevate Your Courier Business With Our <em>Billing Software </em> &amp; <span>Management</span> Features</h2>
                        <p>Revolutionize your courier service with our easy-to-use billing software! Packed with features that simplify bookings, billing, and Invoicing, it's the perfect tool to boost your business and impress your customers. Don't miss out on the game-changer for courier franchisees in India!</p>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="fact-item">
                                    <div class="count-area-content">
                                        <div class="icon">
                                            <img src="~/assets/Home/assets/images/clients.png" alt="Cleients Image">
                                        </div>
                                        <div class="count-digit">90+</div>
                                        <div class="count-title">Clients</div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="fact-item">
                                    <div class="count-area-content">
                                        <div class="icon">
                                            <img src="~/assets/Home/assets/images/frenchiess.png" alt="Franchiseee Logo">
                                        </div>
                                        <div class="count-digit">65+</div>
                                        <div class="count-title">Franchise </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="fact-item">
                                    <div class="count-area-content">
                                        <div class="icon">
                                            <img src="~/assets/Home/assets/images/experiences.png" alt="Experience Logo">
                                        </div>
                                        <div class="count-digit">5+</div>
                                        <div class="count-title">Years Experience</div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div id="portfolio" class="our-portfolio section">
      <div class="portfolio-left-dec">
        <img src="~/assets/Home/assets/images/portfolio-left-dec.png" alt="">
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-6 offset-lg-3">
            <div class="section-heading">
              <h2>Our Recent <em>Projects</em> &amp; Case Studies <span>for Clients</span></h2>
              <span>Our Portfolio</span>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="owl-carousel owl-portfolio">
              <div class="item">
                <div class="thumb">
                  <img src="~/assets/Home/assets/images/portfolio-01.jpg" alt="">
                  <div class="hover-effect">
                    <div class="inner-content">
                      <a rel="sponsored" href="https://templatemo.com/tm-564-plot-listing" target="_parent"><h4>First Project</h4></a>
                      <span>Plot Listing</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="thumb">
                  <img src="~/assets/Home/assets/images/portfolio-02.jpg" alt="">
                  <div class="hover-effect">
                    <div class="inner-content">
                      <a href="#"><h4>Project Two</h4></a>
                      <span>SEO &amp; Marketing</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="thumb">
                  <img src="~/assets/Home/assets/images/portfolio-03.jpg" alt="">
                  <div class="hover-effect">
                    <div class="inner-content">
                      <a rel="sponsored" href="https://templatemo.com/tm-562-space-dynamic" target="_parent"><h4>Third Project</h4></a>
                      <span>Space Dynamic SEO</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="thumb">
                  <img src="~/assets/Home/assets/images/portfolio-04.jpg" alt="">
                  <div class="hover-effect">
                    <div class="inner-content">
                      <a href="#"><h4>Project Four</h4></a>
                      <span>Website Marketing</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="thumb">
                  <img src="~/assets/Home/assets/images/portfolio-01.jpg" alt="">
                  <div class="hover-effect">
                    <div class="inner-content">
                      <a href="#"><h4>Fifth Project</h4></a>
                      <span>Digital Assets</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="thumb">
                  <img src="~/assets/Home/assets/images/portfolio-02.jpg" alt="">
                  <div class="hover-effect">
                    <div class="inner-content">
                      <a href="#"><h4>Sixth Project</h4></a>
                      <span>SEO &amp; Marketing</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="thumb">
                  <img src="~/assets/Home/assets/images/portfolio-03.jpg" alt="">
                  <div class="hover-effect">
                    <div class="inner-content">
                      <a href="#"><h4>7th Project</h4></a>
                      <span>SEO &amp; Marketing</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="thumb">
                  <img src="~/assets/Home/assets/images/portfolio-04.jpg" alt="">
                  <div class="hover-effect">
                    <div class="inner-content">
                      <a href="#"><h4>8th Project</h4></a>
                      <span>SEO &amp; Marketing</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="thumb">
                  <img src="~/assets/Home/assets/images/portfolio-01.jpg" alt="">
                  <div class="hover-effect">
                    <div class="inner-content">
                      <a href="#"><h4>9th Project</h4></a>
                      <span>SEO &amp; Marketing</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="thumb">
                  <img src="~/assets/Home/assets/images/portfolio-02.jpg" alt="">
                  <div class="hover-effect">
                    <div class="inner-content">
                      <a href="#"><h4>Project Ten</h4></a>
                      <span>SEO &amp; Marketing</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="thumb">
                  <img src="~/assets/Home/assets/images/portfolio-03.jpg" alt="">
                  <div class="hover-effect">
                    <div class="inner-content">
                      <a href="#"><h4>Project Eleven</h4></a>
                      <span>SEO &amp; Marketing</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="thumb">
                  <img src="~/assets/Home/assets/images/portfolio-04.jpg" alt="">
                  <div class="hover-effect">
                    <div class="inner-content">
                      <a href="#"><h4>12th Project</h4></a>
                      <span>SEO &amp; Marketing</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <div id="Demos" class="Demos-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 align-self-center">
                    <div class="section-heading">


                        <h2>Experience our <em>Fr-Billing Software </em> firsthand with a live demo! <span>Click here to schedule our interactive demo</span></h2>
                        <p>Schedule your demo online for convenience and efficiency. Choose a time that fits your schedule, receive automated reminders, and personalize your experience. Discover how our Fr-Billing can benefit you!</p>
                        <br>
                        <div class="new-blue-button-hover" id="scheduleButton">
                            <a href="https://www.calendly.com/frbillingsoftware/short-overview" target="_blank">Schedule Now</a>
                        </div>
                    </div>

                </div>
                <div class="col-lg-6">
                    <div class="left-image">
                        <img src="https://www.frbilling.com/assets/Home/imgs/demo.png" alt="Two Girls working together">
                    </div>
                </div>
            </div>
        </div>
    </div>


    @Html.Partial("ClientStory")


    <div id="portfolio" class="pricing-tables">
        <div class="tables-left-dec">
            <img src="~/assets/Home/assets/images/tables-left-dec.png" alt="Tables Left Description Logo">
        </div>
        <div class="tables-right-dec">
            <img src="~/assets/Home/assets/images/tables-right-dec.png" alt="Tables Right Description Logo">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading">

                        <h2> Choose the Right <em>Package</em> for Your Upcoming <span>Ventures</span></h2>
                        <span>
                            MEMBERSHIP OPTIONS
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="item first-item">
                        <h4>Basic Plan</h4>

                        <span>Rs.799/mo</span>
                        <ul>
                            <li>
                                <div style="display:flex; gap:5px">
                                    <i class="fa fa-solid fa-check"></i>
                                    <p>Stationery Inventory Management</p>
                                </div>

                            </li>
                            <li>
                                <div style="display:flex; gap:5px">
                                    <i class="fa fa-solid fa-check"></i>
                                    <p>Flexible Ratemaster</p>
                                </div>
                            </li>
                            <li>
                                <div style="display:flex; gap:5px">
                                    <i class="fa fa-solid fa-check"></i>
                                    <p>Import data from DTDC</p>
                                </div>
                            </li>
                            <li>
                                <div style="display:flex; gap:5px">
                                    <i class="fa fa-solid fa-check"></i>
                                    <p>Bulk Booking</p>
                                </div>
                            </li>
                            <li>
                                <div style="display:flex; gap:5px">
                                    <i class="fa fa-solid fa-check"></i>
                                    <p>Update Rate for Bulk consignments</p>
                                </div>
                            </li>
                            <li>
                                <div style="display:flex; gap:5px">
                                    <i class="fa fa-solid fa-check"></i>
                                    <p>Standard Invoice format</p>
                                </div>
                            </li>
                            <li>
                                <div style="display:flex; gap:5px">
                                    <i class="fa fa-solid fa-check"></i>
                                    <p>Send Invoice on Email</p>
                                </div>
                            </li>
                            <li>
                                <div style="display:flex; gap:5px">
                                    <i class="fa fa-solid fa-check"></i>
                                    <p>Manage Payments</p>
                                </div>
                            </li>
                            <li>
                                <div style="display:flex; gap:5px">
                                    <i class="fa fa-solid fa-check"></i>
                                    <p>Booking for walk in customer</p>
                                </div>
                            </li>
                            <li>
                                <div style="display:flex; gap:5px">
                                    <i class="fa fa-solid fa-check"></i>
                                    <p>Print Receipt with barcode</p>
                                </div>
                            </li>
                            <li>
                                <div style="display:flex; gap:5px">
                                    <i class="fa fa-solid fa-check"></i>
                                    <p>Expense management</p>
                                </div>
                            </li>
                            <li>
                                <div style="display:flex; gap:5px">
                                    <i class="fa fa-solid fa-check"></i>
                                    <p>GST Reports</p>
                                </div>
                            </li>
                            <li>
                                <div style="display:flex; gap:5px">
                                    <i class="fa fa-solid fa-check"></i>
                                    <p>Billed unbilled consignment</p>
                                </div>
                            </li>
                            <li>
                                <div style="display:flex; gap:5px">
                                    <i class="fa fa-solid fa-check"></i>
                                    <p>No Booking data</p>
                                </div>
                            </li>
                        </ul>
                        <div class="main-blue-button-hover">
                            <a href="#" target="_self">Subscribe</a>
                        </div>
                    </div>
                </div>
                @*<div class="col-lg-4">
                        <div class="item second-item">
                            <h4>Standard Plan</h4>

                            <span>₹7000/Yr</span>
                            <ul>
                                <li>
                                    <div style="display:flex; gap:5px">
                                        <i class="fa fa-solid fa-check"></i>
                                        <p>Stationery Inventory Management</p>
                                    </div>

                                </li>
                                <li>
                                    <div style="display:flex; gap:5px">
                                        <i class="fa fa-solid fa-check"></i>
                                        <p>Flexible Ratemaster</p>
                                    </div>
                                </li>
                                <li>
                                    <div style="display:flex; gap:5px">
                                        <i class="fa fa-solid fa-check"></i>
                                        <p>Import data from DTDC</p>
                                    </div>
                                </li>
                                <li>
                                    <div style="display:flex; gap:5px">
                                        <i class="fa fa-solid fa-check"></i>
                                        <p>Bulk Booking</p>
                                    </div>
                                </li>
                                <li>
                                    <div style="display:flex; gap:5px">
                                        <i class="fa fa-solid fa-check"></i>
                                        <p>Update Rate for Bulk consignments</p>
                                    </div>
                                </li>
                                <li>
                                    <div style="display:flex; gap:5px">
                                        <i class="fa fa-solid fa-check"></i>
                                        <p>Standard Invoice format</p>
                                    </div>
                                </li>
                                <li>
                                    <div style="display:flex; gap:5px">
                                        <i class="fa fa-solid fa-check"></i>
                                        <p>Send Invoice on Email</p>
                                    </div>
                                </li>
                                <li>
                                    <div style="display:flex; gap:5px">
                                        <i class="fa fa-solid fa-check"></i>
                                        <p>Manage Payments</p>
                                    </div>
                                </li>
                                <li>
                                    <div style="display:flex; gap:5px">
                                        <i class="fa fa-solid fa-check"></i>
                                        <p>Booking for walk in customer</p>
                                    </div>
                                </li>
                                <li>
                                    <div style="display:flex; gap:5px">
                                        <i class="fa fa-solid fa-check"></i>
                                        <p>Print Receipt with barcode</p>
                                    </div>
                                </li>
                                <li>
                                    <div style="display:flex; gap:5px">
                                        <i class="fa fa-solid fa-check"></i>
                                        <p>Expense management</p>
                                    </div>
                                </li>
                                <li>
                                    <div style="display:flex; gap:5px">
                                        <i class="fa fa-solid fa-check"></i>
                                        <p>GST Reports</p>
                                    </div>
                                </li>
                                <li>
                                    <div style="display:flex; gap:5px">
                                        <i class="fa fa-solid fa-check"></i>
                                        <p>Billed unbilled consignment</p>
                                    </div>
                                </li>
                                <li>
                                    <div style="display:flex; gap:5px">
                                        <i class="fa fa-solid fa-check"></i>
                                        <p>No Booking data</p>
                                    </div>
                                </li>
                            </ul>
                            <div class="main-blue-button-hover">
                                <a href="#">Subscribe</a>
                            </div>
                        </div>
                    </div>*@
                <div class="col-lg-6">
                    <div class="item third-item">
                        <h4>Premium Plan</h4>

                        <span>Contact Us</span>
                        <ul>
                            <li>
                                <div style="display:flex; gap:5px">
                                    <i class="fa fa-solid fa-check"></i>
                                    <p>All included from Standard</p>
                                </div>

                            </li>
                            <li>
                                <div style="display:flex; gap:5px">
                                    <i class="fa fa-solid fa-check"></i>
                                    <p>Multiple franchisee support on a common platform</p>
                                </div>
                            </li>
                            <li>
                                <div style="display:flex;gap:5px">
                                    <i class="fa fa-solid fa-check"></i>
                                    <p>Customer Module (Customers will be able to see their bookings, invoices, and dues)</p>
                                </div>
                            </li>
                            <li>
                                <div style="display:flex; gap:5px">
                                    <i class="fa fa-solid fa-check"></i>
                                    <p>Custom domain</p>
                                </div>
                            </li>

                            <li>
                                <div style="display:flex; gap:5px">
                                    <i class="fa fa-solid fa-check"></i>
                                    <p>Logo design</p>
                                </div>
                            </li>
                            <li>
                                <div style="display:flex; gap:5px">
                                    <i class="fa fa-solid fa-check"></i>
                                    <p>Update Rate for Bulk consignments</p>
                                </div>
                            </li>
                            <li>
                                <div style="display:flex; gap:5px">
                                    <i class="fa fa-solid fa-check"></i>
                                    <p>Role wise Features management</p>
                                </div>
                            </li>
                            <li>
                                <div style="display:flex; gap:5px">
                                    <i class="fa fa-solid fa-check"></i>
                                    <p>Cash counter separate login (employee will have limited access)</p>
                                </div>
                            </li>
                            <li>
                                <div style="display:flex; gap:5px">
                                    <i class="fa fa-solid fa-check"></i>
                                    <p>Billing login (employee will have limited access)</p>
                                </div>
                            </li>
                            <li>
                                <div style="display:flex; gap:5px">
                                    <i class="fa fa-solid fa-check"></i>
                                    <p>Issue Stationery </p>
                                </div>
                            </li>
                            <li>
                                <div style="display:flex; gap:5px">
                                    <i class="fa fa-solid fa-check"></i>
                                    <p>Customisation in Ratemaster</p>
                                </div>
                            </li>
                            <li>
                                <div style="display:flex; gap:5px">
                                    <i class="fa fa-solid fa-check"></i>
                                    <p>In depth Reporting</p>
                                </div>
                            </li>

                            <li>
                                <div style="display:flex; gap:5px">
                                    <i class="fa fa-solid fa-check"></i>
                                    <p>PF-wise reporting</p>
                                </div>
                            </li>

                            <li>
                                <div style="display:flex;gap:5px">
                                    <i class="fa fa-solid fa-check"></i>
                                    <p>Separate invoice series for a particular GST</p>
                                </div>
                            </li>
                            <li>
                                <div style="display:flex;gap:5px">
                                    <i class="fa fa-solid fa-check"></i>
                                    <p>Separate database</p>
                                </div>
                            </li>
                            <li>
                                <div style="display:flex; gap:5px">
                                    <i class="fa fa-solid fa-check"></i>
                                    <p>Custom Website</p>
                                </div>
                            </li>
                            @*<li>
                                    <div style="display:flex; gap:5px">
                                        <i class="fa fa-solid fa-check"></i>
                                        <p>Membership plan for walk in customers</p>
                                    </div>
                                </li>
                                <li>
                                    <div style="display:flex; gap:5px">
                                        <i class="fa fa-solid fa-check"></i>
                                        <p>SMS marketing</p>
                                    </div>
                                </li>
                                <li>
                                    <div style="display:flex; gap:5px">
                                        <i class="fa fa-solid fa-check"></i>
                                        <p>Email Marketing (Upcoming)</p>
                                    </div>
                                </li>*@

                        </ul>

                        <div class="main-blue-button-hover">
                            <a href="tel:8208668841" style="background: linear-gradient(105deg, rgba(255,104,95,1) 0%, rgba(255,144,104,1) 100%);font-size:14px" target="_self">Contact Us on <i class="fa fa-phone"></i> +91 8208668841</a>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div id="subscribe" class="subscribe">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="inner-content">
              <div class="row">
                <div class="col-lg-10 offset-lg-1">
                  <h2>Know Your Website SEO Score by Email</h2>
                  <form id="subscribe" action="" method="get">
                    <input type="text" name="website" id="website" placeholder="Your Website URL" required="">
                    <input type="text" name="email" id="email" pattern="" placeholder="Your Email" required="">
                    <button type="submit" id="form-submit" class="main-button ">Subscribe</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <div id="video" class="our-videos section" style="padding-top: 206px">
        <div class="videos-left-dec">
            <img src="~/assets/Home/assets/images/videos-left-dec.png" alt="videos-left-dec.png">
        </div>
        <div class="videos-right-dec">
            <img src="~/assets/Home/assets/images/videos-right-dec.png" alt="videos-left-dec.png">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="naccs">
                        <div class="grid">
                            <div class="row">
                                <div class="col-lg-8 m-auto ">
                                    <div class="aboutus">
                                        <ul class="nacc">
                                            <li class="active">
                                                <div>
                                                    <div class="thumb">



                                                        <div class="overlay-effect">
                                                            <a href="#"><h4>About FR-Billing</h4></a>

                                                        </div>
                                                        <p>Certainly! Here's a descriptive block about FRBilling without listing the features point by point:</p>
                                                        <p>
                                                            Discover FRBilling: Your All-In-One Courier Management Solution
                                                        </p>
                                                        <p>
                                                            In the fast-paced world of courier services, FRBilling emerges as a game-changer, offering a seamless and efficient way to manage your operations. Designed with the needs of courier franchisees in mind, this cloud-based software is a perfect blend of simplicity and functionality.
                                                        </p>
                                                        <p>
                                                            FRBilling understands the intricacies of the courier business and offers a suite of tools that are not just easy to use but also highly effective. From setting flexible rates to handling multiple bookings, and from generating professional bills to providing insightful reports, every aspect is crafted to enhance your business workflow.

                                                        </p>
                                                        <p>
                                                            What sets FRBilling apart is its ability to cater to both tech-savvy users and beginners alike. The intuitive interface ensures that anyone can get started with ease, while the depth of features allows for comprehensive management and analysis.
                                                        </p>
                                                        <p>
                                                            With FRBilling, you're not just adopting a software; you're embracing a smarter way to run your courier business. It's about making informed decisions, staying organized, and delivering exceptional service to your customers. Tailored for the Indian market, FRBilling is the partner you need to elevate your courier service to new heights.
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div>
                                                    <div class="thumb">

                                                        <div class="overlay-effect">
                                                            <a href="#"><h4>Our Vision</h4></a>

                                                        </div>
                                                        <p>Our vision for a billing software is to create an efficient, user-friendly, and customizable solution that can streamline the invoicing and payment process for businesses of all sizes. It should allow businesses to easily create and send invoices, manage and track payments, and generate reports. Additionally, it should be able to integrate with other business tools and systems, provide secure payment options, and offer flexible pricing plans to meet the specific needs of different businesses. Ultimately, our vision is to provide a billing software that saves businesses time, reduces manual effort, and helps them get paid faster.</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div>
                                                    <div class="thumb">
                                                        <div class="overlay-effect">
                                                            <a href="#"><h4>Free Trial Package</h4></a>

                                                        </div>
                                                        <b>Free Trial with Instant Activation (Credit Cards NOT Required)</b>
                                                        <p>Fr-Billing believes in try it before buy it. Anyone is welcome to come and try us for a FULL 14 days before they decide whether or not they want to buy. Unlike many other hosting companies out there, we DO NOT ask for your credit card information upfront and hope that you will forget to cancel our service. We won't ask for your credit card information until you decide to buy our service!</p>
                                                    </div>
                                                </div>
                                            </li>

                                        </ul>
                                    </div>

                                </div>
                                <div class="col-lg-4">
                                    <div class="menu">
                                        <div class="active">
                                            <div class="thumb">
                                                <img src="~/assets/Home/assets/images/video-thumb-01.png" alt="Video Thumb Nail 01">
                                                <div class="inner-content">
                                                    <h4>About FR-Billing</h4>

                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="thumb">
                                                <img src="~/assets/Home/assets/images/video-thumb-02.png" alt="Video Thumb Nail 02">
                                                <div class="inner-content">
                                                    <h4>Our Vision</h4>

                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="thumb">
                                                <img src="~/assets/Home/assets/images/video-thumb-03.png" alt="Marketing">
                                                <div class="inner-content">
                                                    <h4>Free Trial Package</h4>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*<div id="contact" class="contact-us section">
                   <div class="container">
                       <div class="row">
                           <div class="col-lg-7">
                               <div class="section-heading">
                                   <h2> <em>Contact</em>  <span>US</span></h2>
                                   <div id="map">
                                       <iframe src="https://maps.google.com/maps?q=Av.+L%C3%BAcio+Costa,+Rio+de+Janeiro+-+RJ,+Brazil&t=&z=13&ie=UTF8&iwloc=&output=embed" width="100%" height="360px" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                                   </div>
                                   <div class="info">
                                       <span><i class="fa fa-phone"></i> <a href="#" class="m-auto">8208668841</a></span>
                                       <span><i class="fa fa-envelope"></i> <a href="#" class="m-auto">frbilling@gmail.com</a></span>
                                   </div>
                               </div>
                           </div>
                           <div class="col-lg-5 align-self-center">
                               <form id="contact" action="" method="get">
                                   <div class="row">
                                       <div class="col-lg-12">
                                           <fieldset>
                                               <input type="name" name="name" id="name" placeholder="Name" autocomplete="on" required>
                                           </fieldset>
                                       </div>
                                       <div class="col-lg-12">
                                           <fieldset>
                                               <input type="surname" name="surname" id="surname" placeholder="Surname" autocomplete="on" required>
                                           </fieldset>
                                       </div>
                                       <div class="col-lg-12">
                                           <fieldset>
                                               <input type="text" name="email" id="email" pattern="" placeholder="Your Email" required="">
                                           </fieldset>
                                       </div>
                                       <div class="col-lg-12">
                                           <fieldset>
                                               <input type="text" name="website" id="website" placeholder="Your Website URL" required="">
                                           </fieldset>
                                       </div>
                                       <div class="col-lg-12">
                                           <fieldset>
                                               <button type="submit" id="form-submit" class="main-button">Submit Request</button>
                                           </fieldset>
                                       </div>
                                   </div>



        <div class="contact-dec">
            <img src="~/assets/Home/assets/images/contact-dec.png" alt="contact description Image">
        </div>
        <div class="contact-left-dec">
            <img src="~/assets/Home/assets/images/contact-left-dec.png" alt="contact left-dec png">
        </div>
                               </form>
                           </div>
                       </div>
                   </div>

               </div>*@
    <div id="contact" class="contact-us section">
        @Html.Partial("ContactUsPartialView")
    </div>
    <div class="footer-dec">
        <img src="~/assets/Home/assets/images/footer-dec.png" alt="Footer Image">
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="about footer-item">
                        @*<div class="logo">
                            <a href="#"><img src="~/assets/Home/assets/images/logo.png" alt="Fr-Billing"></a>
                        </div>*@

                        @*////////start diwali logo/////////*@

                        <div class="diwalilogofooter">
                                <a href="#"><img src="~/assets/Home/assets/images/xmas.gif" alt="Fr-Billing"></a>
                            </div>
                        @*////////end diwali logo/////////*@
                        <a href="mailto:info@frbilling.com" type="email" target="_blank">info@frbilling.com</a>
                        <ul>
                            <li><a href="https://www.facebook.com/people/FrBilling-CT/pfbid0QfLDqvFXRwe4y5KcUHSwaJV6mXmmCTGzpYVy7rdTMH6DgVjgPwZeR8vmVj7DSog3l/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://www.youtube.com/playlist?list=PLT-Gd9X3Y1afr1FZRb8Z8ELFncnWwOhzz" target="_blank"><i class="fa fa-youtube"></i></a></li>
                            @*<li><a href="https://www.linkedin.com/in/prajkta-navlakhe-47790613b/" target="_blank"><i class="fa fa-linkedin"></i></a></li>*@
                            <li><a href="https://www.linkedin.com/company/fr-billing" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="https://www.instagram.com/fr_billing?igsh=MTF2YzM3dDFiOTB1eg%3D%3D&utm_source=qr" target="_blank"> <i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="services footer-item">
                        <h4>About</h4>
                        <ul>
                            <li class="scroll-to-section"><a href="#features">Our Features</a></li>
                            <li class="scroll-to-section"><a href="#about">About</a></li>
                            <li class="scroll-to-section"><a href="#Demos">Schedule Demo</a></li>
                            <li class="scroll-to-section"><a href="#portfolio">Pricing</a></li>
                            <li class="scroll-to-section"><a href="#contact">Contact Us</a></li>
                            @*<li class="scrll-to-section">
                                    <a href="http://frbilling.com/excelformat/robots.txt" target="_blank">About Us</a>
                                </li>*@
                        </ul>
                    </div>

                    <!--  -->
                </div>
                <div class="col-lg-3">
                    <div class="community footer-item">
                        <h4>Community</h4>
                        <ul>
                            <li><a href="@Url.Action("TermsCondition","Admin")">Terms & Condition</a></li>
                            <li><a href="@Url.Action("privacyPolicy","Admin")">Privacy Policy</a></li>
                            <li><a href="@Url.Action("RefundandCancellationPolicy","Admin")">Refund and Cancellation Policy</a></li>

                        </ul>
                    </div>
                </div>
                @* <div class="col-lg-3">
                    <div class="subscribe-newsletters footer-item">
                        <h4>Subscribe Newsletters</h4>
                        <p>Get our latest news and ideas to your inbox</p>
                        <div class="newsletters">
                            @using (Ajax.BeginForm("ContactUs", "Admin", null, new AjaxOptions
                            {
                                OnSuccess = "onSuccess",
                                UpdateTargetId = "contact",
                                OnBegin = "validateForm"
                            }, null))
                            {
                                <input type="text" name="email" id="email" pattern="" placeholder="Your Email" required="">
                                <button type="submit" id="form-submit" class="main-button "><i class="fa fa-paper-plane-o"></i></button>
                            }
                        </div>
                    </div> </div>*@
                <div class="col-lg-3" id="newslettersPage">
                    @Html.Partial("newslettersPartialView")
                </div>

                <div class="col-lg-12">
                    <div class="copyright">
                        <p>
                            @*Copyright © @DateTime.Now.Year FR Billing, Ltd. All Rights Reserved.
                                <a rel="nofollow" href="https://codetentaclestechnologies.com/" target="_blank">CodeTentacles Technologies.</a>*@
                            <strong>© <span>@DateTime.Now.Year</span> CodeTentacles Technologies | FR-Billing - Empowering Solutions | Proudly Made in India <img src="https://frbilling.com/uploadedlogo/indiaFlag.jpg" alt="India Flag" class="indian_wheel" /> | <a href="https://codetentaclestechnologies.com/" target="_blank"><span class="text-success">CodeTentacles</span></a> </strong>

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <!-- Scripts -->
    <script src="~/assets/Home/vendor/jquery/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js" integrity="sha512-YHQNqPhxuCY2ddskIbDlZfwY6Vx3L3w9WRbyJCY81xpqLmrM6rL2+LocBgeVHwGY9SXYfQWJ+lcEWx1fKS2s8A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js" integrity="sha512-DedNBWPF0hLGUPNbCYfj8qjlEnNE92Fqn7xd3Sscfu7ipy7Zu33unHdugqRD3c4Vj7/yLv+slqZhMls/4Oc7Zg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/assets/Home/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/Home/assets/js/owl-carousel.js"></script>
    <script src="~/assets/Home/assets/js/animation.js"></script>
    <script src="~/assets/Home/assets/js/imagesloaded.js"></script>
    <script src="~/assets/Home/assets/js/custom.js"></script>

    <script>
        // Acc
        $(document).on("click", ".naccs .menu div", function () {
            var numberIndex = $(this).index();

            if (!$(this).is("active")) {
                $(".naccs .menu div").removeClass("active");
                $(".naccs ul li").removeClass("active");

                $(this).addClass("active");
                $(".naccs ul").find("li:eq(" + numberIndex + ")").addClass("active");


            }
        });
    </script><!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-67GZ3J4NH7"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-67GZ3J4NH7');
    </script>





</body>
</html>