@model DtDc_Billing.Models.AddQrCodeModel

@{
    ViewBag.Title = "UploadQrCode";
    Html.EnableClientValidation(true);
}

<style>
    #frmEmp {
        margin: 15px 0;
        text-align: left;
    }
</style>


@using (Html.BeginForm("AddLogo", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", id = "fromQrCode" }))
{
    @Html.AntiForgeryToken()

    <section>
        <form enctype="multipart/form-data">

            <div class="" style="padding: 0px 15px">
                <div class="box box-info" style="background: none;  border: 1px solid #dbdbdb !important;background:white">
                    <div class="box-header with-border" style="background:none;border:none">
                        <small>  Note : It will appear on invoice & Image must be .png or .jpg or .jpeg format</small>

                    </div>
                    <div class="" style="padding:0 20px">
                        <div class="row">
                            <div class="col-md-12 ">

                                <div class="form-horizontal">
                                    <div class="box-body">

                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Upload Logo</label>
                                            <div class="col-md-5">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <input type="file" name="LogoFile" id="LogoFile" class="form-control" />
                                                        <span id="fileErrorLogo" style="color: red; display: none;">Please select a file before uploading.</span> <!-- Error message -->

                                                    </div>
                                                    <div class="col-md-5">
                                                        @if (ViewBag.logoimg != null)
                                                        {
                                                            <img src="@ViewBag.logoimg" style="height:100px;width:100px" />

                                                        }
                                                        else
                                                        {
                                                            <span>Image not Uploaded</span>
                                                        }
                                                    </div>
                                                    <div class="col-md-1 col-sm-12" style="margin-top:20px">
                                                        <input type="submit" value="Add" id="submitBtnLogo" class="btn btn-primary" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>
                </div>
            </div>

        </form>

    </section>

}



@using (Html.BeginForm("UploadFile", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", id = "fromQrCode" }))
{
    @Html.AntiForgeryToken()

    <section>
        <form enctype="multipart/form-data">

            <div class="" style="padding: 0px 15px">
                <div class="box box-info" style="background: none;  border: 1px solid #dbdbdb !important;background:white">
                    @*<div class="box-header with-border" style="background:none;border:none">
                        <h4>Upload QrCode</h4>

                    </div>*@
                    <div class="" style="padding:0 20px">
                        <div class="row">
                            <div class="col-md-12 ">

                                <div class="form-horizontal">
                                    <div class="box-body">

                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Upload Stamp</label>
                                            <div class="col-md-5">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <input type="file" name="StampFile" id="StampFile" class="form-control" />
                                                        <span id="fileErrorStamp" style="color: red; display: none;">Please select a file before uploading.</span> <!-- Error message -->

                                                       
                                                    </div>
                                                    <div class="col-md-5">
                                                        @if (ViewBag.stampImage != null)
                                                        {
                                                            <img src="@ViewBag.stampImage" style="height:100px;width:100px" />

                                                        }
                                                        else
                                                        {
                                                            <span>Image not Uploaded</span>
                                                        }
                                                    </div>
                                                    <div class="col-md-1 col-sm-12" style="margin-top:20px">
                                                        <input type="submit" value="Add" id="submitBtnStamp" class="btn btn-primary" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>
                </div>
            </div>

        </form>

    </section>

}

@using (Html.BeginForm("AddQrCode", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", id = "fromQrCode" }))
{
    @Html.AntiForgeryToken()

    <section>
        <form enctype="multipart/form-data">

            <div class="" style="padding: 0px 15px">
                <div class="box box-info" style="background: none;  border: 1px solid #dbdbdb !important;background:white">
                    @*<div class="box-header with-border" style="background:none;border:none">
                        <h4>Upload QrCode</h4>

                    </div>*@
                    <div class="" style="padding:0 20px">
                        <div class="row">
                            <div class="col-md-12 ">

                                <div class="form-horizontal">
                                    <div class="box-body">

                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Upload QRCode</label>
                                            <div class="col-md-5">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <input type="file" name="QrFile" id="QrFile" class="form-control" />
                                                        <span id="fileErrorQRcode" style="color: red; display: none;">Please select a file before uploading.</span> <!-- Error message -->

                                                    </div>
                                                    <div class="col-md-5">
                                                        @if (ViewBag.QrCodeImage != null)
                                                        {
                                                            <img src="@ViewBag.QrCodeImage" style="height:100px;width:100px" />

                                                        }
                                                        else
                                                        {
                                                            <span>Image not Uploaded</span>
                                                        }
                                                    </div>
                                                    <div class="col-md-1 col-sm-12" style="margin-top:20px">
                                                        <input type="submit" value="Add" id="submitBtnQRcode" class="btn btn-primary" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>
                </div>
            </div>

        </form>

    </section>

}
<script src="jquery-3.6.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>


<script>

    $(document).ready(function () {

        $("#fileErrorLogo").hide();
        $("#fileErrorStamp").hide();
        $("#fileErrorQRcode").hide();

        $('#submitBtnLogo').on('click', function (e) {

            // Get the file input value
            var file = $("#LogoFile").val();

            // Check if file input is empty
            if (file == "" || file == NaN || file == null) {
                $("#fileErrorLogo").show();
                return false;           
            }

            // Extract the file extension
            var allowedExtensions = /(\.jpg|\.jpeg|\.png)$/i;

            // Validate file extension
            if (!allowedExtensions.exec(file)) {
                $("#fileErrorLogo").text("Invalid file type. Please upload a .png, .jpg, or .jpeg file").show();
                return false;
            }


        });


        $('#submitBtnStamp').on('click', function (e) {

            // Get the file input value
            var file = $("#StampFile").val();

            // Check if file input is empty
            if (file == "" || file == NaN || file == null) {
                $("#fileErrorStamp").show();
                return false;           
            }

            // Extract the file extension
            var allowedExtensions = /(\.jpg|\.jpeg|\.png)$/i;

            // Validate file extension
            if (!allowedExtensions.exec(file)) {
                $("#fileErrorStamp").text("Invalid file type. Please upload a .png, .jpg, or .jpeg file").show();
                return false;
            }
        });

        $('#submitBtnQRcode').on('click', function (e) {

            // Get the file input value
            var file = $("#QrFile").val();

            // Check if file input is empty
            if (file == "" || file == NaN || file == null) {
                $("#fileErrorQRcode").show();
                return false;           
            }
            // Extract the file extension
            var allowedExtensions = /(\.jpg|\.jpeg|\.png)$/i;

            // Validate file extension
            if (!allowedExtensions.exec(file)) {
                $("#fileErrorQRcode").text("Invalid file type. Please upload a .png, .jpg, or .jpeg file").show();
                return false;
            }
        });
    })
</script>
